body{
	font-family: sans-serif;
	

}
a {
	color: white;
	text-decoration: none;
	transition-duration: 0.3s;
}
a:hover
{
	color: black;
	transition-duration: 0.3s;
}
.container {
	position: relative;
	background-color: grey;
	width: 700px;
	height: 50px;
	margin-top:50px;


    
}
.container #topmenu
{
	position: relative;
    font-size: 20px;
    list-style: none;

}


.container #topmenu>li
{   position: relative;
	display: inline-block;
	margin-left:  40px;
	margin-top: 15px;
	color: white;
	list-style: none;

}
.container #topmenu ul
{
	position: absolute;
	margin: 0px;
	padding:0px;
	margin-top: 12px;
margin-left: -50px;

	
	
}
.container #topmenu ul>li 
{  
   position: relative;
   visibility: hidden;
   list-style: none;
   width:150px;
   height: 25px;
   background-color: grey;
   font-size: 15px;
   text-align: center;
   margin-top: 2px; 
   padding-top: 5px;
   transition-duration: 0.2s;
   
}
.container #topmenu ul>li>a
{   
	position: relative;
	margin-top: 10px;
}

.container #topmenu li:hover>ul>li
{  
   position: relative;
   visibility: visible;
   list-style: none;
   width:150px;
   height: 25px;
   background-color: grey;
   font-size: 15px;
   text-align: center;
   margin-top: 2px; 
   padding-top: 5px;
    transition-duration: 0.2s;
}




