@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
.bigtext {font-size: 40px;
          color: white;
          font-family: 'Open Sans Condensed', sans-serif;
          padding-left: 30px;

     }
         
.slogan{font-size: 15px;
       font-family: 'Open Sans Condensed', sans-serif;
        padding-bottom: 5px;
        text-transform: uppercase;}
#header {border-radius: 8px;
         background-color: orange;
         height: 100px;

         }

.navtext {font-size: 20px;
          font-weight: 100px;
          padding-left: 10px;
          font-family: 'Source Sans Pro', sans-serif;
          padding-top: 20px;}

 #firstsidebar{background-color:powderblue;
             padding: 20px 10px 20px 10px;
             font-family: 'Source Sans Pro', sans-serif;}
 #secondsidebar{background-color: royalblue;
 	            padding: 20px 10px 20px 10px;
 	            font-family: 'Source Sans Pro', sans-serif;
 	            
                }
 .main {background-color: orangered;
         font-size: 50px;
         color: whitesmoke;
         height: 20px;
         font-family: 'Source Sans Pro', sans-serif;
         text-transform: uppercase;
         padding-left: 30px;}
 .subtext{  font-family: 'Source Sans Pro', sans-serif;
            padding-bottom: 10px;
            padding-top: 10px; 
            }
 .footer{background-color: gray;
 	     height: 10px;  
 	     text-align: right;
         font-family: 'Source Sans Pro', sans-serif;}
 table{border-spacing:10px;
       width: 1000px;
       margin-right: auto;
       margin-left:auto ;}